.modal_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 40px;
}
.notification_header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.notification_header::before {
  position: absolute;
  content: "";
  width: 10%;
  height: 5px;
  background-color: red;
  bottom: -5px;
}
.notification_header h3 {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 1px;
}
.mail_icon {
  margin: 20px 0px;
  border-radius: 50%;
  background-color: #e7edf3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}
.mail_icon .icon {
  font-size: 55px;
}
.text p{
  text-align: center;
}
.proceed_btn button {
  border-width: 0px;
  width: 460px;
  height: 50px;
  background: inherit;
  background-color: rgba(24, 77, 138, 1);
  border: none;
  border-radius: 295px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  color: white;
}