.create_pswd .content_header {
  position: relative;
  margin-bottom: 10px;
}

.create_pswd .content_header h4 {
  font-size: 27px;
  color: black;
}
.tags {
  margin: 20px 0px;
}
.tags h5 {
  font-weight: 700;
  font-size: 18px;
  color: #184d8a;
}

.tags p{
  font-size: 16px;
}

.acc_info p{
  font-size: 16px;
  font-weight: 400;
}
.acc_info p span{
  font-weight: 700;
}